* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/img/fono.png');
  background-size: cover;
}

a {
  color: #fff; 
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;

}

li {
  list-style: none;
        
}

img {
  width: 100%;
}

figure {
  width: 20%;
}

.titulo_general {

  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin: 20px 0;
  font-size: 30px;
  text-shadow: 4px 4px 5px #0005;
}

/* botones */
.button_general {
  margin-top: 20px;
  border: solid 2px #e73a58;
  background: transparent;
  width: 30%;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #e73a58;
}

.button_general:hover {
  border: solid 5px #fff;
  color: #fff;
}




/* formularios */
.form_gral-cont {

  background-color: #6c69692e;
  width: 80%;
  font-size: 14px;
  margin: 30px;
  padding: 30px;
}


.form_gral input {
  
  background-color: #4645439c; 
  width: 50%;
  border-radius: 30px;
  display: inline-block;
  border: none;
  font-size: 13.3333px;
  margin: 0px 0px 30px;
  padding: 10px;


}

.form_gral input::placeholder {
  color: #fff;
  font-size: 15px;

}

.form_gral-cont select {
  width: 30%;
  height: 41px;
  margin-bottom: 30px;
  border: none;
  border-radius: 30px;
  padding: 10px;
  background-color: #4645439c;

}

.form_gral-cont select::placeholder {
  color: #fff;
  font-size: 15px;

}

.form_gral-mb50 input {
  display: flex;
  display: inline-block;
  flex-direction: row;
  width: 30%;
  height: 41px;
  margin-bottom: 30px;
  border: none;
  border-radius: 30px;
  padding: 10px;
  background-color: #4645439c;
  border: soliud red 2px;
  /* background-color:#464543 ;
  border-radius: 30px ;
  display: inline-block ;
  font-family: Arial ;
  font-size: 13.3333px ;
  margin: 0px 0px 30px ;
  padding: 10px; */
}

.form_gral-mb50 input::placeholder {
  color: #fff;
  font-size: 15px;

}