.home_main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
}
.titulos_generales-h1{
    font-size: 100px;
    margin-top: 50px;
}

.home_main p{
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
    margin-bottom: 20px;
}
.home_container{
   justify-content: space-evenly;
}
