<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main class="home_main">
      <h1 class="titulo_general titulos_generales-h1"><%= title %></h1>
      <p>Bienvenidos a <%= title %></p>
     
      
      
      
    </main>
  </body>
</html>
