<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: 'Lista de Péliculas'}) %>

  <body>
    <%- include('partials/header') %>
    <main class="list_main">
      <section class="list_container">
        <h1 class="titulo_general">LISTADO DE PELÍCULAS</h1></div>
        <div class="list_peliculas">
          <ul class="movie_box ">
            <% for( let i = 0; i < movies.length; i++ ) { %>
            <li>
              <a href="/movies/detail/<%= movies[i].id %>"
                ><img src="" alt=""><%= movies[i].title %></a
              >
            </li>
            <% } %>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
