<header >
 

  <section class="header_container">
    <figure class="header_logo">
      <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House" /></a>
    </figure>
    <ul class="nav">
      <li class="selectores_generales"><a href="/movies">LISTADO</a></li>
      <li  class="selectores_generales">
        <a href="/movies/new">X FECHA</a>
      </li>
      <li  class="selectores_generales">
        <a href="/actors/actors"> X ACTORES</a>
      </li>

      <li  class="selectores_generales">
        <a href="/genres/genres"> X GÉNERO</a>
      </li>
      <li  class="selectores_generales">
        <a href="/movies/recommended">RECOMENDADAS</a>
      </li>
      <li  class="selectores_generales">
        <a href="/movies/add">AGREGAR PELÍCULAS</a>
      </li>
    </ul>
  </section>
</header>
